.form-setting {
  width: 600px;
  margin-top: 50px;
  margin-left: 40px;
  h1 {
    margin-left: 16px;
    margin-bottom: 40px;
  }
  .save {
    margin-left: 71%;
    margin-right: 30px;
  }
  span {
    color: red;
  }
}
